<div class="banner-order" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(<%= image_path ("banner-thinker.jpg") %>)">
  <div class="banner-content-order">
    <h1 class="become">ORDER <span style="color: #1CA9F3">LIGTHCLOCK</span> RESEARCH</h1>
    <div class="thinker-form text-center">
      <%= simple_form_for @message, :html => {:multipart => true } do |f| %>
      <%= f.input :name, required: true, placeholder: "John Doe" %>
      <%= f.input :organisation, required: true, label: "Name of organisation" %>
      <%= f.input :email, required: true, placeholder: "john@gmail.com" %>
      <%= f.input :phone, label: "Phone number", required: true, placeholder: "+44 7788160160" %>
      <%= f.input :research_subject, label: "Research subject", required: true %>
      <%= f.input :time, label: "Best time to be contacted", required: true, placeholder: "8-9 am" %>
      <%# f.input :timezone, label: "Your timezone", required: true, placeholder: "8-9 am" %>
      <%# f.input :degree, label: "Highest academic degree", collection: ["High school or secondary school", "Some college", "Bachelor's degree or equivalent", "Master's degree or equivalent", "Ph.D", "Post-doc or equivalent"], required: true, placeholder: "Ph.D" %>
      <div class= "hidden">
        <%= f.input :nickname, hint: 'Leave this field blank!' %>
      </div>
      <div>
      </br>
      <%= f.button :submit, 'Order research', class: "btn btn-medium-left" %>
    </div>
    <% end %>
  </div>
</div>
</div>
<hr>
