<%= content_for(:title) do %>
  Einstein's light clock
<% end  %>

<div class="banner-order" style="background-color: #333333">
  <div class="banner-content-order">
    <h1>EINSTEIN'S LIGHT CLOCK</h1>
    <p><span><a href="/">HOME</a></span><span class="slash"> / </span> DOMAINS OF DISCOURSE <!-- <span class="slash"> / </span> WE’RE LAUNCHING LIGHTCLOCK  --></p>
  </div>
</div>

<div id="slider-arrow" data-target="#info-text">
  <%= image_tag "arrow_bottom.png" %>
</div>

<div class="container post-all">
  <div class="row">

    <div class="col-md-9">
      <div class="post text-left">
        <h4 class="post-title expanded">EINSTEINS LIGHT CLOCK</h4>
        <p class="date share-buttons">January 1, 2017 | Share:
          <!-- Facebook share button -->
          <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.lightclock.org/einsteins-light-clock" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i></a>
          <!-- Twitter share button -->
          <a href="http://twitter.com/home?status=https://www.lightclock.org/einsteins-light-clock" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i></a>
          <!-- Pinterest share button -->
          <a href="#" title="Share on Twitter" target="_blank" class="btn btn-pinterest"><i class="fa fa-pinterest"></i></a>
          <!-- LinkedIn share button -->
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=https://www.lightclock.org/einsteins-light-clock" title="Share on LinkedIn" target="_blank" class="btn btn-linkedin"><i class="fa fa-linkedin"></i></a>
          <!-- Google+ share button -->
          <a href="https://plus.google.com/share?url=https://www.lightclock.org/einsteins-light-clock" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i></a>
        </p>
        <div class="post-peak">
          <p>A ‘light clock’ is a thought experiment proposed by Albert Einstein to explain time dilation, a key concept in his General Theory of Relativity. We respectfully borrow this image as our metaphor: The photon bouncing between two mirrors in perfect opposition. Or are they? Einstein proposed that what might look like an unbreakable constant, in reality very much depends on the position of the observer. He also concluded that one point of view is not more valid than the other.</p>
          <p>Although there are a bunch of funny videos on Youtube where you can check out the jumping photons, I’ve found the corresponding part in Walter Isaacson’s Einstein book, a masterpiece if you ask me, which can be interesting for those inclined:</p>
        </div>
        <div class="post-quote">
          <%= image_tag "quote.png" %>
          <p>[A] consequence of special relativity is that a person standing on the platform will observe that time goes more slowly on a train speeding past. Imagine that on the train there is a “clock” made up of a mirror on the floor and one on the ceiling and a beam of light that bounces up and down between them. From the perspective of a woman on the train, the light goes straight up and then straight down. But from the perspective of a man standing on the platform, it appears that the light is starting at the bottom but moving on a diagonal to get to the ceiling mirror, which has zipped ahead a tiny bit, then bouncing down on a diagonal back to the mirror on the floor, which has in turn zipped ahead a tiny bit. For both observers, the speed of the light is the same (that is Einstein’s great given). The man on the track observes the distance the light has to travel as being longer than the woman on the train observes it to be. Thus, from the perspective of the man on the track, time is going by more slowly inside the speeding train…</p>
          <p>Special relativity has many other curious manifestations. Think again about that light clock on the train. What happens as the train approaches the speed of light relative to an observer on the platform? It would take almost forever for a light beam in the train to bounce from the floor to the moving ceiling and back to the moving floor. Thus time on the train would almost stand still from the perspective of an observer on the platform…</p>
          <p>With all this talk of distance and duration being relative depending on the observer’s motion, some may be tempted to ask: So which observer is “right”? Whose watch shows the “actual” time elapsed? (…) Whose notion of simultaneity is “correct”?</p>
          <p>According to the special theory of relativity, all inertial reference frames are equally valid. It is not a question of whether (…) time really slows down; all we know is that observers in different states of motion will measure things differently. (…) [there] is no designated “rest” frame of reference that has preference over any other.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-3">
      <div>
        <h6 class="text-left" style="margin-bottom: 30px;">RECENT POSTS</h6>
        <div class="container">
          <div class="row">
            <div class="col-sm-1">
              <%= image_tag "blog-pen.png", class: "blog-pen" %>
            </div>
            <div class="col-sm-3">
              <p class="post-title-small"><a href="/were-launching-lightclock" target="_blank">We're launching LightClock</a></p>
              <p class="date-small">JANUARY 17, 2017</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-1">
              <%= image_tag "blog-pen.png", class: "blog-pen" %>
            </div>
            <div class="col-sm-3">
              <p class="post-title-small"><a href="/einsteins-light-clock" target="_blank">Einstein’s light clock</a></p>
              <p class="date-small">JANUARY 1, 2017</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
